<div class="row justify-content-center text-center">
  <div class="col-md-6">
    <h2>Examples / Charts</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-chart-bar></app-chart-bar>
  </div>

  <div class="col-md-6">
    <app-chart-line></app-chart-line>
  </div>

  <div class="col-md-6">
    <br />
    <h4>References</h4>
    <a href="https://valor-software.com/ng2-charts" target="_blank"
      >https://valor-software.com/ng2-charts</a
    >
    <br />
    <a href="https://valor-software.com/ng2-charts/#BarChart" target="_blank"
      >https://valor-software.com/ng2-charts/#BarChart</a
    >
    <br />
    <a href="https://valor-software.com/ng2-charts/#LineChart" target="_blank"
      >https://valor-software.com/ng2-charts/#LineChart</a
    >
  </div>
</div>
