<div class="row justify-content-center text-center">
  <div class="col-md-6">
    <h2>Examples / Selectors</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col">
          <label class="form-label">Regions:</label>
          <select class="form-control" formControlName="region">
            <option value="">-- Select region --</option>
            <option *ngFor="let region of regions" [value]="region | lowercase">
              {{ region }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3" *ngIf="countries.length !== 0">
        <div class="col">
          <label class="form-label">Country:</label>
          <select class="form-control" formControlName="country">
            <option value="">-- Select country --</option>
            <option *ngFor="let country of countries" [value]="country.cioc">
              {{ country.name.common }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3" *ngIf="borders.length > 0">
        <div class="col">
          <label class="form-label">Borders:</label>
          <select class="form-control" formControlName="border">
            <option value="">-- Select border --</option>
            <option *ngFor="let border of borders" [value]="border.cioc">
              {{ border.name.common }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="col">
          <div class="alert alert-primary">Loading...</div>
        </div>
      </div>
    </form>
    <h3>Form</h3>
    <pre>{{ myForm.value | json }}</pre>
  </div>
</div>
