<div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" (click)="order('name')">Order by Name</button>
    <button type="button" class="btn btn-outline-primary" (click)="order('population')">Order by Population</button>
</div>

<p>order : {{orderColumn}}</p>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries | sort:orderColumn ; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ country.name }}</td>
        <td>{{ country.population }}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries ; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ country.name }}</td>
        <td>{{ country.population }}</td>
        </tr>
    </tbody>
</table>