<hr><h4>property binding</h4>

<p class="text-capitalize">string binding</p>

<p [class]="text_capitalize">expresion binding</p>

<hr><h4>attribute binding</h4>

<table border=1>
    <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>

    <tr><td>Three</td><td>Four</td></tr>
</table>

<hr><h4>class binding</h4>

<p class="text-capitalize fw-bold">capitalized text.</p>

<p [class]="'text-capitalize fw-bold'">capitalized text.</p>

<p [class.text-capitalize]="true" [class.fw-bold]="true">capitalized text.</p>

<p [class]="{'text-capitalize' : true, 'fw-bold' : true}">capitalized text.</p>

<p [class]="['text-capitalize', 'fw-bold']">capitalized text.</p>

<hr><h4>style binding</h4>

<p style="text-transform:capitalize;font-weight:bold">capitalized text.</p>

<p [style]="'text-transform:capitalize;font-weight:bold'">capitalized text.</p>

<p [style.text-transform]="'capitalize'" [style.font-weight]="'bold'" >capitalized text.</p>

<p [style]="{'text-transform' : 'capitalize', 'font-weight' : 'bold'}">capitalized text.</p>

<hr><h4>event binding</h4>

<button (click)="click()" class="btn btn-primary">click no event</button>
&nbsp;
<button (click)="click($event)" class="btn btn-primary">click event</button>

<hr><h4>two-way binding</h4>

<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
