<div class="row justify-content-center text-center">
  <div class="col-8">
    <h5 class="m-0">Country by Name</h5>
  </div>
  <div class="col-8 mt-3">
    <app-country-search
      (onEnter)="search($event)"
      placeholder="Country by Name..."
    ></app-country-search>
  </div>
  <div class="col-8 mt-3">
    <div *ngIf="error" class="alert alert-danger">
      Nothing was found for the term {{ searchText }}.
    </div>
    <div *ngIf="countries.length > 0" class="row">
      <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
      </div>
    </div>
  </div>
</div>
