<p>home works!</p>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Example Angular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
                <a routerLink="/about/application" class="nav-link" href="#">About-App</a>
            </li>

            <li class="nav-item">
                <a routerLink="/about/developer" class="nav-link" href="#">About-Dev</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Components
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/components/binding" class="dropdown-item" href="#">Binding</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Templates
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/templates/pipes/basic" class="dropdown-item" href="#">Pipes - Basic</a></li>
                    <li><a routerLink="/templates/pipes/built-in" class="dropdown-item" href="#">Pipes - Built-In</a></li>
                    <li><a routerLink="/templates/pipes/custom" class="dropdown-item" href="#">Pipes - Custom</a></li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Directives
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/directives/attribute-directives" class="dropdown-item" href="#">Attribute-Directives</a></li>
                    <li><a routerLink="/directives/structural-directives" class="dropdown-item" href="#">Structural-Directives</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Forms
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/frms/basic" class="dropdown-item" href="#">Basic</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Http
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/http/basic" class="dropdown-item" href="#">Basic</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Examples
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/examples/counter" class="dropdown-item" href="#">Counter</a></li>
                    <li><a routerLink="/examples/heroes" class="dropdown-item" href="#">Heroes</a></li>
                    <li><a routerLink="/examples/gifs" class="dropdown-item" href="#">Gifs</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>