<h4>reactive - validations</h4>
<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="submit()" autocomplete="off" [formGroup]="myForm">
                
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Identification Card</label>
                    <div class="col-sm-9">
                        <input type="text"
                               class="form-control"
                               formControlName="id">
                        <span class="form-text text-danger" *ngIf="controlValid('id')">
                            Invalid identity card format.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-primary float-end">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <span>Valid</span>
            <pre>{{ myForm.valid }}</pre>
    
            <span>Pristine</span>
            <pre>{{ myForm.pristine }}</pre>
    
            <span>Touched</span>
            <pre>{{ myForm.touched }}</pre>
    
            <span>Value</span>
            <pre>{{ myForm.value | json }}</pre>
        </div>
    </div>
</div>